html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: "Norse";
  src: url(./Norse-Bold.otf);
}

main {
  height: 100vh;
  display: flex;
}

/* HEADER SECTION */

main div.image__container {
  background-image: url(../images/background.jpg);
  font-family: "Norse", sans-serif;
  font-size: 6rem;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 0 0;
  display: flex;
}

main div.image__container img {
  height: 100px;
}

main div.image__container div.head__text__container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20vh auto;
  background-color: rgba(0, 0, 0, .4);
}


/* --------- */

/* TOP TEXT - RIGHT */

main .right__wrapper {
  flex: 2 0 0;
  display: flex;
  flex-direction: column;
}
main section.right__wrapper div.top__text {
  height: 33vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
  gap: 20px;
}

main section.right__wrapper div.top__text p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
}

/* --------- */

/* FORM SECTION - RIGHT */

main section.right__wrapper div.form__container {
  height: 45vh;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 7px 8px -7px #000000; 
  box-shadow: 0px 7px 8px -7px #000000;
}

main section.right__wrapper div.form__container h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

main section.right__wrapper div.form__container form label {
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin: 2px 0;
}

main section.right__wrapper div.form__container form input {
  height: 20px;
  border-radius: 3px;
  border: 1px solid #ebe9e9;
  margin-bottom: 10px;
}

main section.right__wrapper div.form__container form input:focus {
  outline: #0354ce solid 1px;
}

main section.right__wrapper div.form__container form {
  display: flex;
  gap: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

/* --------- */
/* FOOTER TEXT - RIGHT */

main section.right__wrapper div.footer__text button {
  margin-top: 30px;
  margin-left: 30px;
  background-color: #9f4805;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 7px 8px -7px #000000; 
  box-shadow: 0px 7px 8px -7px #000000;
  cursor: pointer;
}

main section.right__wrapper div.footer__text p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 30px;
  margin-top: 30px;
}

main section.right__wrapper div.footer__text a {
  list-style: none;
  text-decoration: none;
  color: #9f4805;
  font-weight: bold;
}

/* --------- */